In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df_firm_employment_size = pd.read_csv('firm_employment_size.csv')
df_firm_statistics = pd.read_csv('firms_statistics.csv')
df_years_in_business = pd.read_csv('years_in_business.csv')
to_drop = [x for x in df_firm_employment_size if '_F' in x or '_S' in x]

# ETL Process
We created a list -=>
` to_drop = [x for x in df_firm_employment_size if '_F' in x or '_S' in x]`
and used it to find the colums we wanted to remove from each csv.

In [3]:
# df_firm_employment_size.drop(to_drop, inplace=True, axis=1)
# df_firm_statistics.drop(to_drop, inplace=True, axis=1)
# df_years_in_business.drop(to_drop, inplace=True, axis=1)

In [4]:
df_firm_employment_size

,GEO_ID,GEO_ID_F,NAME,NAICS2017,NAICS2017_F,NAICS2017_LABEL,SEX,SEX_LABEL,ETH_GROUP,ETH_GROUP_LABEL,...,PAYANN_F,FIRMPDEMP_S,FIRMPDEMP_S_F,RCPPDEMP_S,RCPPDEMP_S_F,EMP_S,EMP_S_F,PAYANN_S,PAYANN_S_F,Unnamed: 33
0,Geographic identifier code,Geo Footnote,Geographic Area Name,2017 NAICS code,2017 NAICS Footnote,Meaning of NAICS code,Sex code,Meaning of Sex code,Ethnicity code,Meaning of Ethnicity code,...,"Flag for Annual payroll ($1,000)",Relative standard error of employer firms (%),Flag for Relative standard error of employer f...,"Relative standard error of sales, value of shi...","Flag for Relative standard error of sales, val...",Relative standard error of number of employees...,Flag for Relative standard error of number of ...,Relative standard error of annual payroll (%),Flag for Relative standard error of annual pay...,NaN
1,0100000US,NaN,United States,00,NaN,Total for all sectors,001,Total,001,Total,...,NaN,0.8,NaN,3.6,NaN,0.0,NaN,2.4,NaN,NaN
2,0100000US,NaN,United States,00,NaN,Total for all sectors,001,Total,001,Total,...,NaN,0.4,NaN,1.1,NaN,0.6,NaN,1.3,NaN,NaN
3,0100000US,NaN,United States,00,NaN,Total for all sectors,001,Total,001,Total,...,NaN,1.0,NaN,1.5,NaN,0.9,NaN,1.1,NaN,NaN
4,0100000US,NaN,United States,00,NaN,Total for all sectors,001,Total,001,Total,...,NaN,0.9,NaN,2.5,NaN,1.0,NaN,1.6,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15307,0100000US,NaN,United States,99,NaN,Industries not classified,096,Classifiable,096,Classifiable,...,S,S,S,S,S,S,S,S,S,NaN
15308,0100000US,NaN,United States,99,NaN,Industries not classified,098,Unclassifiable,098,Unclassifiable,...,D,D,D,D,D,D,D,D,D,NaN
15309,0100000US,NaN,United States,99,NaN,Industries not classified,098,Unclassifiable,098,Unclassifiable,...,S,S,S,S,S,S,S,S,S,NaN
15310,0100000US,NaN,United States,99,NaN,Industries not classified,098,Unclassifiable,098,Unclassifiable,...,D,D,D,D,D,D,D,D,D,NaN
15311,0100000US,NaN,United States,99,NaN,Industries not classified,098,Unclassifiable,098,Unclassifiable,...,D,D,D,D,D,D,D,D,D,NaN

In [58]:
df_firm_statistics

,GEO_ID,GEO_ID_F,NAME,NAICS2017,NAICS2017_F,NAICS2017_LABEL,SEX,SEX_LABEL,ETH_GROUP,ETH_GROUP_LABEL,...,PAYANN,PAYANN_F,FIRMPDEMP_S,FIRMPDEMP_S_F,RCPPDEMP_S,RCPPDEMP_S_F,EMP_S,EMP_S_F,PAYANN_S,PAYANN_S_F
0,Geographic identifier code,Geo Footnote,Geographic Area Name,2017 NAICS code,2017 NAICS Footnote,Meaning of NAICS code,Sex code,Meaning of Sex code,Ethnicity code,Meaning of Ethnicity code,...,"Annual payroll ($1,000)","Flag for Annual payroll ($1,000)",Relative standard error of employer firms (%),Flag for Relative standard error of employer f...,"Relative standard error of sales, value of shi...","Flag for Relative standard error of sales, val...",Relative standard error of number of employees...,Flag for Relative standard error of number of ...,Relative standard error of annual payroll (%),Flag for Relative standard error of annual pay...
1,0100000US,NaN,United States,0,NaN,Total for all sectors,1,Total,1,Total,...,7227585564,NaN,0,NaN,1.1,NaN,0.4,NaN,0.5,NaN
2,0100000US,NaN,United States,0,NaN,Total for all sectors,2,Female,1,Total,...,418552132,NaN,0.5,NaN,2.9,NaN,1.5,NaN,1.7,NaN
3,0100000US,NaN,United States,0,NaN,Total for all sectors,3,Male,1,Total,...,2248777697,NaN,0.2,NaN,2.3,NaN,0.7,NaN,1.1,NaN
4,0100000US,NaN,United States,0,NaN,Total for all sectors,4,Equally male/female,1,Total,...,293311176,NaN,0.6,NaN,4,NaN,1.7,NaN,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4257,0100000US,NaN,United States,99,NaN,Industries not classified,1,Total,1,Total,...,69225,NaN,6.8,NaN,S,S,12.5,NaN,12.3,NaN
4258,0100000US,NaN,United States,99,NaN,Industries not classified,1,Total,1,Total,...,S,S,S,S,S,S,S,S,S,S
4259,0100000US,NaN,United States,99,NaN,Industries not classified,1,Total,1,Total,...,671861,NaN,1,NaN,S,S,19.9,NaN,3.9,NaN
4260,0100000US,NaN,United States,99,NaN,Industries not classified,96,Classifiable,96,Classifiable,...,855369,NaN,1.1,NaN,S,S,17.2,NaN,3.2,NaN
4261,0100000US,NaN,United States,99,NaN,Industries not classified,98,Unclassifiable,98,Unclassifiable,...,4311,NaN,40.2,NaN,S,S,58.2,NaN,47.8,NaN

In [49]:
df_years_in_business

,GEO_ID,GEO_ID_F,NAME,NAICS2017,NAICS2017_F,NAICS2017_LABEL,SEX,SEX_LABEL,ETH_GROUP,ETH_GROUP_LABEL,...,PAYANN_F,FIRMPDEMP_S,FIRMPDEMP_S_F,RCPPDEMP_S,RCPPDEMP_S_F,EMP_S,EMP_S_F,PAYANN_S,PAYANN_S_F,Unnamed: 33
0,Geographic identifier code,Geo Footnote,Geographic Area Name,2017 NAICS code,2017 NAICS Footnote,Meaning of NAICS code,Sex code,Meaning of Sex code,Ethnicity code,Meaning of Ethnicity code,...,"Flag for Annual payroll ($1,000)",Relative standard error of employer firms (%),Flag for Relative standard error of employer f...,"Relative standard error of sales, value of shi...","Flag for Relative standard error of sales, val...",Relative standard error of number of employees...,Flag for Relative standard error of number of ...,Relative standard error of annual payroll (%),Flag for Relative standard error of annual pay...,NaN
1,0100000US,NaN,United States,00,NaN,Total for all sectors,001,Total,001,Total,...,NaN,0.8,NaN,2.8,NaN,2.4,NaN,2.5,NaN,NaN
2,0100000US,NaN,United States,00,NaN,Total for all sectors,001,Total,001,Total,...,NaN,1.0,NaN,3.7,NaN,3.5,NaN,2.9,NaN,NaN
3,0100000US,NaN,United States,00,NaN,Total for all sectors,001,Total,001,Total,...,NaN,0.9,NaN,4.3,NaN,2.1,NaN,4.4,NaN,NaN
4,0100000US,NaN,United States,00,NaN,Total for all sectors,001,Total,001,Total,...,NaN,0.9,NaN,3.9,NaN,2.5,NaN,3.4,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11627,0100000US,NaN,United States,99,NaN,Industries not classified,096,Classifiable,096,Classifiable,...,NaN,4.0,NaN,S,S,24.1,NaN,6.4,NaN,NaN
11628,0100000US,NaN,United States,99,NaN,Industries not classified,098,Unclassifiable,098,Unclassifiable,...,S,S,S,S,S,S,S,S,S,NaN
11629,0100000US,NaN,United States,99,NaN,Industries not classified,098,Unclassifiable,098,Unclassifiable,...,D,D,D,D,D,D,D,D,D,NaN
11630,0100000US,NaN,United States,99,NaN,Industries not classified,098,Unclassifiable,098,Unclassifiable,...,S,S,S,S,S,S,S,S,S,NaN
11631,0100000US,NaN,United States,99,NaN,Industries not classified,098,Unclassifiable,098,Unclassifiable,...,D,D,D,D,D,D,D,D,D,NaN