In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Here we read in the csvs and assign them to dataframes

In [ ]:
df_firm_employment_size = pd.read_csv('firm_employment_size.csv')
df_firm_statistics = pd.read_csv('firms_statistics.csv')
df_years_in_business = pd.read_csv('years_in_business.csv')

# ETL Process
We created a list comprehension -=>
` to_drop = [x for x in df_firm_employment_size if '_F' in x or '_S' in x]`
and used it to find the colums we wanted to remove from each csv.

In [ ]:
to_drop = [x for x in df_firm_employment_size if '_F' in x or '_S' in x]

# Removing columns from all csvs using the list

In [ ]:
df_firm_employment_size.drop(to_drop, inplace=True, axis=1)
df_firm_statistics.drop(to_drop, inplace=True, axis=1)
df_years_in_business.drop(to_drop, inplace=True, axis=1)

# Updating The Csvs
We took the new csvs without the extra columns and updated the originals to be able to push to git.

In [ ]:
df_firm_employment_size.to_csv('firm_employment_size.csv')
df_firm_statistics.to_csv('firms_statistics.csv')
df_years_in_business.to_csv('years_in_business.csv')

# Merging the Dataframes

In [36]:
merged_df = pd.merge(df_years_in_business, df_firm_employment_size, on=['NAICS2017_LABEL','RACE_GROUP','NAICS2017', 'VET_GROUP','SEX','SEX_LABEL','ETH_GROUP_LABEL','ETH_GROUP','FIRMPDEMP','RCPPDEMP','EMP','PAYANN','NAME','RACE_GROUP_LABEL','VET_GROUP_LABEL','GEO_ID','YEAR','Unnamed: 33', 'Unnamed: 0'], how='outer')

pd.set_option('display.max_columns', None)

,Unnamed: 0,GEO_ID,NAME,NAICS2017,NAICS2017_LABEL,SEX,SEX_LABEL,ETH_GROUP,ETH_GROUP_LABEL,RACE_GROUP,RACE_GROUP_LABEL,VET_GROUP,VET_GROUP_LABEL,YIBSZFI,YIBSZFI_LABEL,YEAR,FIRMPDEMP,RCPPDEMP,EMP,PAYANN,Unnamed: 33,EMPSZFI,EMPSZFI_LABEL
0,0,Geographic identifier code,Geographic Area Name,2017 NAICS code,Meaning of NAICS code,Sex code,Meaning of Sex code,Ethnicity code,Meaning of Ethnicity code,Race code,Meaning of Race code,Veteran code,Meaning of Veteran code,Years in business code,Meaning of Years in business code,Year,Number of employer firms,"Sales, value of shipments, or revenue of emplo...",Number of employees,"Annual payroll ($1,000)",NaN,Employment size of firms code,Meaning of Employment size of firms code
1,1,0100000US,United States,00,Total for all sectors,001,Total,001,Total,00,Total,001,Total,311,Firms with less than 2 years in business,2019,849175,688192883,3599360,154180355,NaN,NaN,NaN
2,2,0100000US,United States,00,Total for all sectors,001,Total,001,Total,00,Total,001,Total,318,Firms with 2 to 3 years in business,2019,716587,784730351,5028886,180567186,NaN,NaN,NaN
3,3,0100000US,United States,00,Total for all sectors,001,Total,001,Total,00,Total,001,Total,319,Firms with 4 to 5 years in business,2019,566261,762164574,4727063,185864362,NaN,NaN,NaN
4,4,0100000US,United States,00,Total for all sectors,001,Total,001,Total,00,Total,001,Total,321,Firms with 6 to 10 years in business,2019,950408,1845346496,9597704,435980708,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26938,15307,0100000US,United States,99,Industries not classified,096,Classifiable,096,Classifiable,96,Classifiable,096,Classifiable,NaN,NaN,2019,S,S,"2,500 to 4,999 employees",S,NaN,657,Firms with 500 employees or more
26939,15308,0100000US,United States,99,Industries not classified,098,Unclassifiable,098,Unclassifiable,98,Unclassifiable,098,Unclassifiable,NaN,NaN,2019,D,D,0 to 19 employees,D,NaN,611,Firms with no employees
26940,15309,0100000US,United States,99,Industries not classified,098,Unclassifiable,098,Unclassifiable,98,Unclassifiable,098,Unclassifiable,NaN,NaN,2019,S,S,20 to 99 employees,S,NaN,612,Firms with 1 to 4 employees
26941,15310,0100000US,United States,99,Industries not classified,098,Unclassifiable,098,Unclassifiable,98,Unclassifiable,098,Unclassifiable,NaN,NaN,2019,D,D,20 to 99 employees,D,NaN,620,Firms with 5 to 9 employees
26942,15311,0100000US,United States,99,Industries not classified,098,Unclassifiable,098,Unclassifiable,98,Unclassifiable,098,Unclassifiable,NaN,NaN,2019,D,D,0 to 19 employees,D,NaN,630,Firms with 10 to 19 employees

# Here we drop rows that we don't need in order to ask our questions

In [45]:
merged_df = merged_df.drop(['GEO_ID', 'ETH_GROUP_LABEL', 'NAME', 'NAICS2017', 'SEX', 'VET_GROUP', 'Unnamed: 0', 'Unnamed: 33', 'YEAR'], axis=1)

# Finally we write the merged data to a csv and load it into git for use

In [48]:
merged_df.to_csv('Merged_data.csv')